/* here you can put your own css to customize and override the theme */
/*picture preload*/
body:after {
content: url(./img/benefit1.png) url(./img/benefit2.png) url(./img/benefit3.png) url(./img/benefit4.png) url(./img/benefit5.png) url(./img/benefit6.png) url(./img/benefit7.png);
display: none;
}
.sticker {
	position: absolute;
	top: 0;
	left: 0;
	width: 63px;
	height: 63px;
}
.sticker-unique {
	background: url(/img/unique.png) no-repeat;
	left: auto;
	right: 0;
}